.header-container{
  display:flex;
  width:100%;
}

.header-container > div {
  width:50%;
}

.filters-container{
  display:flex;
  flex-direction: column
}

.values-container{
  display:flex;
  align-items: flex-end;
  flex-direction: column
}

.canvas-container{
  height:70vh;
  width:70vw;
}

.main{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 15%;
}