.header-container{
  display:flex
}

.header-container > div {
  width:50%;
}

.filters-container{
  display:flex;
  flex-direction: column
}

.values-container{
  display:flex;
  align-items: flex-end;
  flex-direction: column
}